.defaultlayout{
    min-height: 100vh;
}

.footerdefalt{
    text-align: right;
}

.userinfo{
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150px;
    min-height: 40px;
}